<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png">
    <title>Backend</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body> 
{{>navbar}}
<div class="container">
   
  <div class="row box_txt"> 
 <div class="col">
  <h1 class="rig_txt"> "Welcome to Backend please take a Registration"</h1>
  <h6  align="center"  style="position:relative; top:49px;color:grey;">we are providing Middle ware and Database</h6>
</div>
  <div class="w-100"> </div>
   <div clas="col">  <a href="/register"><button class="btn explore">sign up for free</button></a> </div>
  </div>

  <div class="container"> 
    <div class="row box_info">
        <div class="col"><div class="card" style="width: 18rem;">
            <div class="card-body body_c">
              <h5 class="card-title  solo">Node js</h5>
              <h6 class="card-subtitle mb-2 text-muted">Middle ware</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://nodejs.org/en/" target="_blank" class="card-link"><button class="btn btn-dark">Go Official</button></a>
              <a href="https://www.npmjs.com/get-npm" class="card-link"><button class="btn btn-dark">Start</button></a>
            </div>
          </div></div>
        <div class="col"><div class="card" style="width: 18rem;">
            <div class="card-body body_c">
              <h5 class="card-title  solo">Express</h5>
              <h6 class="card-subtitle mb-2 text-muted">Framework</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="http://expressjs.com/" target="_blank" class="card-link"><button class="btn btn-dark">Go Official</button></a>
              <a href="https://www.npmjs.com/package/express" class="card-link"><button class="btn btn-dark">Start</button></a>
            </div>
          </div></div>
        <div class="col"><div class="card" style="width: 18rem;">
            <div class="card-body body_c">
              <h5 class="card-title  solo">MongoDB</h5>
              <h6 class="card-subtitle mb-2 text-muted">Database</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://www.mongodb.com/" target="_blank" class="card-link"><button class="btn btn-dark">Go Official</button></a>
              <a href="https://www.npmjs.com/package/mongodb" class="card-link"><button class="btn btn-dark">Start</button></a>
            </div>
          </div></div>  
  </div>
  </div>
</body>
</html>